


# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Ignore virtual environment directories
.venv/
.env/
# Ignore Python bytecode files
__pycache__/
*.pyc
# Ignore log files
logs/
# Ignore database files
*.db
*.sqlite3
# Ignore environment variable files
.env
.env_encoded

models/
chroma_db/

*.csv
data/